
body {
    background-color: #FFFFFF;
}

.project-image {
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 0px;
}

.rectangle1 {
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 0px;

background: rgba(0, 0, 0, 0.6);
}


.site-title1 {
    position: absolute;
    width: 250px;
    height: 60px;
    left: 200px;
    top: 40px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.4);
    color: #ffffff;
    color: #FFFFFF;
    
    opacity: 0.8;
}

.site-title2 {
    position: absolute;
    width: 250px;
    height: 60px;
    left: 650px;
    top: 40px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 34px;
    text-decoration: none;
    text-align: center;
    text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.4);
    color: #ffffff;
    color: #FFFFFF;
    
    opacity: 0.8;

}   

.site-title2:hover {color: rgb(192, 214, 255);}

 .site-title3 {
    position: absolute;
    width: 250px;
    height: 60px;
    left: 1050px;
    top: 40px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 34px;
    text-align: center;
    text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.4);
    color: #ffffff;
    color: #FFFFFF;
    
    opacity: 0.8;
 }  
 .site-title3:hover {color: rgb(192, 214, 255);}

 .site-title4 {
    position: absolute;
    width: 250px;
    height: 60px;
    left: 1470px;
    top: 40px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 34px;
    text-align: center;
    text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.4);
    color: #ffffff;
    color: #FFFFFF;
    
    opacity: 0.8;
 }
 .site-title4:hover {color: rgb(192, 214, 255);}


.site-welcome {
    position: absolute;
    width: 819px;
    height: 175px;
    left: 550px;
    top: 452px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    text-align: center;
    text-shadow: 5px 5px 10px rgba(255, 255, 255, 0.4);
    color: #ffffff;
    color: #FFFFFF;
}

.arrow {
    position: absolute;
    left: 910px;
    top: 723.5px;
    border-width: 50.5px 50.5px 0px 50.5px;
    border-color: white transparent transparent transparent;
    border-style: solid dashed dashed dashed;
     opacity: 0.8;
}


.about-me {
    position: absolute;
    width: 400px;
    height: 120px;
    left: 900px;
    top: 1200px;
    

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    display: flex;
    align-items: center;
    text-align: center;
    text-shadow: 12px 12px rgba(50, 50, 50, 0.4);
    color: #323232;
    color: #323232;
}

.info-personal1 {
    position: absolute;
    width: 250px;
    height: 100px;
    left: 775px;
    top: 1470px;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;

    color: #323232;
}

.info-personal2 {
    position: absolute;
    width: 250px;
    height: 100px;
    left: 1170px;
    top: 1470px;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;

    color: #323232;
}

.info-personal3 {
    position: absolute;
    width: 250px;
    height: 100px;
    left: 775px;
    top: 1570px;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;

    color: #323232;
}

.info-personal4 {
    position: absolute;
    width: 450px;
    height: 100px;
    left: 1170px;
    top: 1570px;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;

    color: #323232; 
}

.info-personal5 {
    position: absolute;
    width: 250px;
    height: 100px;
    left: 775px;
    top: 1700px;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;

    color: #323232;
}

.info-personal6 {
    position: absolute;
    width: 450px;
    height: 100px;
    left: 1170px;
    top: 1700px;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;

    color: #323232;
}

.info-personal7 {
    position: absolute;
    width:350px;
    height: 100px;
    left: 775px;
    top: 1800px;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;

    color: #323232;
}

.info-personal8 {
    position: absolute;
    width:350px;
    height: 100px;
    left: 1170px;
    top: 1800px;

    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;

    color: #323232;
}

.ellipse1 img {
      /* aspect-ratio:  1 / 1; */
    aspect-ratio: 1;
    object-fit: cover;
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    left: 300px;
    top: 1485px;

}


