body {
    background-color: #FFFFFF;
}

.rectangle1 {
    position: absolute;
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 0px;

background: #FFFFFF(0, 0, 0, 1);
}


.site-title1 {
    position: absolute;
    width: 250px;
    height: 60px;
    left: 200px;
    top: 40px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
    text-decoration: none;
    text-align: center;
    text-shadow: 5px 5px 10px rgba(50, 50, 50, 0.4);
    color: #323232;
    color: #323232;
    
    opacity: 0.8;
}

.site-title1:hover {color: rgb(192, 214, 255);}

.site-title2 {
    position: absolute;
    width: 250px;
    height: 60px;
    left: 650px;
    top: 40px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 34px;
    text-decoration: none;
    text-align: center;
    text-shadow: 5px 5px 10px rgba(50, 50, 50, 0.4);
    color: #323232;
    color: #323232;
    
    opacity: 0.8;
}   
.site-title2:hover {color: rgb(192, 214, 255);}

 .site-title3 {
    position: absolute;
    width: 250px;
    height: 60px;
    left: 1050px;
    top: 40px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 34px;
    text-align: center;
    text-shadow: 5px 5px 10px rgba(50, 50, 50, 0.4);
    color: #323232; 
    color: #323232;
    
    opacity: 0.8;
 }  


 .site-title4 {
    position: absolute;
    width: 250px;
    height: 60px;
    left: 1470px;
    top: 40px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 34px;
    text-decoration: none;
    text-align: center;
    text-shadow: 5px 5px 10px rgba(50, 50, 50, 0.4);
    color: #323232;
    color: #323232;
    
    opacity: 0.8;
 }
 .site-title4:hover {color: rgb(192, 214, 255);}